## First operations on the terminal

Arithmetic operations: +, -, *, /, power, root, //, modulus

In [ ]:
1+1

In [ ]:
2*3

In [ ]:
12-20

In [ ]:
4/2

In [ ]:
2**3

In [ ]:
9/4

In [ ]:
9//4

In [ ]:
9%4

In [ ]:
2**1/2

In [ ]:
2**(1/2)

In [ ]:
6+4*9

## Our first program: "Hello, World!"

In [ ]:
print('Hello, World!')

print -> function  
( ) -> contain the argument of the function  
'Hello, World!' -> string

In [ ]:
'Hello, World!'

In [ ]:
Hello, World!

## Data types

In [ ]:
type('Hello, World!')

In [ ]:
type(1)

In [ ]:
type(1/2)

In [ ]:
type(1.0)

In [ ]:
type('1')

In [ ]:
'1'+2

In [ ]:
'1'+'2'

In [ ]:
1+2

In [ ]:
"Double quoted strings like this can contain 'single quoted strings'"

In [ ]:
'The opposite is "also true"'

In [ ]:
string = '''Triple quoted strings
can span
multiple lines'''

In [ ]:
print(string)

In [ ]:
type(string) == type('single quoted string')

In [ ]:
type(True)

Don't use commas to separate groups of digits!

In [ ]:
1000

In [ ]:
1,000

## Variables and assignment

In [ ]:
message = "This is a string"

In [ ]:
n = 143

In [ ]:
fact = True

In [ ]:
print(message)

In [ ]:
print(n)

In [ ]:
print(fact)

= -> assignment  
== -> comparison

In [ ]:
1+2==3

In [ ]:
1+2=3

In [ ]:
1.0==1

Reassign a variable value

In [ ]:
n

In [ ]:
n=12

In [ ]:
n

In [ ]:
n=n+1

In [ ]:
n

In [ ]:
n = "This is not a number anymore"

In [ ]:
n

In [ ]:
type(n)

In [ ]:
t = type(n)

In [ ]:
t

In [ ]:
type(t)

In [ ]:
s = type(t)

In [ ]:
type(s)

Forbidden variable names

In [ ]:
1number = 123

In [ ]:
test$ = "a string"

In [ ]:
True = 12

In [ ]:
and = "test"

Python does not care how you name your variables:

In [ ]:
pi

In [ ]:
import math

In [ ]:
math.pi

## Converting types

In [ ]:
type(math.pi)

In [ ]:
int(math.pi)

In [ ]:
type(int(math.pi))

In [ ]:
type("2734")

In [ ]:
int("2734")

In [ ]:
type(int("2734"))

In [ ]:
int("10 students")

In [ ]:
float(3)

In [ ]:
float("109.1")

In [ ]:
str(123)

## Some simple expressions

In [ ]:
string = input("Input something:")

In [ ]:
string

In [ ]:
print("Your input is:",string)

In [ ]:
n = 123 #this is a comment, and will be ignored by python

In [ ]:
n

## Another data type: lists

In [ ]:
integer_list = [1, 2, 3, 4, 5]

In [ ]:
integer_list

In [ ]:
string_list = ['a','b','c','d','e']

In [ ]:
string_list

In [ ]:
mixed_list = [1,'a',math.pi,[0,1]]

In [ ]:
mixed_list

In [ ]:
empty_list = []

In [ ]:
empty_list

In [ ]:
string_list[0]

In [ ]:
string_list[1]

In [ ]:
integer_list[1]

In [ ]:
integer_list[5-4]

In [ ]:
integer_list[1.0]

In [ ]:
integer_list[int(math.pi)]

In [ ]:
integer_list[5]

In [ ]:
len(integer_list)

In [ ]:
len(empty_list)

In [ ]:
empty_list[0]

In [ ]:
len(mixed_list)

In [ ]:
mixed_list[len(mixed_list)]

In [ ]:
mixed_list[len(mixed_list)-1]

In [ ]:
'c' in string_list

In [ ]:
0 in mixed_list

In [ ]:
[0,1] in mixed_list

In [ ]:
integer_list + string_list

In [ ]:
string_list * 3

Splice a list:  
list[start:stop] -> [list[start], list[start+1], ..., list[stop-1]  
no start -> start=0
no stop -> stop = len(list)

In [ ]:
string_list[2:4]

In [ ]:
string_list[:4]

In [ ]:
string_list[2:]

In [ ]:
string_list[:]

In [ ]:
string_list == string_list[:]

In [ ]:
string_list[2] = 'x'

In [ ]:
string_list

Strings can be accessed like lists, but do not support assignment

In [ ]:
text = "test"

In [ ]:
text[0]

In [ ]:
text[0] = "T"

In [ ]:
del string_list[2]

In [ ]:
string_list

In [ ]:
del string_list[4]

In [ ]:
del string_list[1:3]

In [ ]:
string_list

In [ ]:
string_list.append('z')

In [ ]:
string_list

## Objects and references

In [ ]:
a = "a string"

In [ ]:
b = "a string"

In [ ]:
a==b

In [ ]:
a is b

In [ ]:
b=a

In [ ]:
a==b

In [ ]:
a is b

In [ ]:
b is a

In [ ]:
list = [1,2,3]

In [ ]:
m=l

In [ ]:
print(m)
print(l)
print(m==l)
print(m is l)

In [ ]:
l[0]=0

In [ ]:
print(l)
print(m)

In [ ]:
n=l[:]

In [ ]:
print(n==l)
print(n is l)

In [ ]:
l[0]=1
print(l)
print(m)
print(n)

In [ ]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]

In [ ]:
matrix

In [ ]:
matrix[1][2]

## Flow control: the if statement

if (boolean expression):  
&nbsp;&nbsp;&nbsp;&nbsp;(execute this if (boolean expression == True))  
else:  
&nbsp;&nbsp;&nbsp;&nbsp;(execute this if (boolean expression == False))

The : and the indentation after "if" and "else" are important!

In [ ]:
n = int(input("Type an integer:"))

In [ ]:
if n%2==0:
    print(n,"is even")
else:
    print(n,"is odd")

In [ ]:
if n%2==0:
print(n,"is even")
else:
print(n,"is odd")

You don't need an "else" statemenet

In [ ]:
if n%2==0:
    print(n,"is even")

You can use "pass" as a placeholder that does nothing

In [ ]:
if n%2==0:
    pass
else:
    print(n,"is odd")

You can have more chained "if" statements

In [ ]:
if n%3==0:
    print(n,"is divisible by 3")
elif n%3==1:
    print(n,"has reminder 1 when divided by 3")
else:
    print(n,"has reminder 2 when divided by 3")

You can have nested "if" statements (remember to increase the indentation accordingly)

In [ ]:
if n==0:
    print(n,"is 0")
else:
    if n>0:
        print(n,"is positive")
    else:
        print(n,"is negative")

The boolean expression used in the "if" can be any expression that returns a boolean (True or False)

In [ ]:
if n<0 or n>0:
    print(n,"is not 0")
else:
    print(n,"is 0")

In [ ]:
r=float(input("Insert any number:"))
if int(r)==r:
    print(r,"is an integer")
else:
    print(r,"is not an integer")

## Iteration: loops (for, while)

for (variable) in (list):  
&nbsp;&nbsp;&nbsp;&nbsp;(evaluate these expressions)

In [ ]:
for n in string_list:
    print(n)

In [ ]:
for n in integer_list:
    print(n**2)

In [ ]:
n=3
print(n)
for n in integer_list:
    print(n)
print(n)

In [ ]:
range(5,10)

In [ ]:
for n in range(5,10):
    print(n)

In [ ]:
for n in range(1,11):
    print(n,"->",n**2)

In [ ]:
for n in range(1,11):
    print(n)
    if n%7==0:
        break

In [ ]:
integer_list[:]

In [ ]:
for i in range(0,len(integer_list)):
    print(integer_list[i])

In [ ]:
for n in range(1,11):
    if n%2==0:
        continue
    print(n)

while (boolean expression):  
&nbsp;&nbsp;&nbsp;&nbsp;(evaluate these expressions)

In [ ]:
n=0
while n<11:
    print(n)
    n+=1

Python does not have repeat loops

repeat:  
&nbsp;&nbsp;&nbsp;&nbsp;(evaluate these expressions)  
until (boolean expression)

In [ ]:
n=0
repeat
    print(n)
    n+=1
until n==11

In [ ]:
n=0
while True:
    print(n)
    n+=1
    if n==11:
        break

## Functions

def [function name] ([parameters]):  
&nbsp;&nbsp;&nbsp;&nbsp;[list of statememts the function has to execute]

In [ ]:
def square(x):
    print(x**2)

In [ ]:
square(3)

In [ ]:
n=square(3)

In [ ]:
print(n)
print(type(n))

In [ ]:
def square(x):
    return x**2

In [ ]:
n=square(3)
print(n)

In [ ]:
square(square(3))

In [ ]:
for i in range(1,11):
    print(i,"->",square(i))