## First operations on the terminal

Arithmetic operations: +, -, *, /, power, root, //, modulus

In [1]:
1+1

2

In [2]:
2*3

6

In [3]:
12-20

-8

In [4]:
4/2

2.0

In [5]:
2**3

8

In [77]:
9/4

2.25

In [78]:
9//4

2

In [75]:
9%4

1

In [7]:
2**1/2

1.0

In [8]:
2**(1/2)

1.4142135623730951

In [9]:
6+4*9

42

## Our first program: "Hello, World!"

In [11]:
print('Hello, World!')

Hello, World!

print -> function  
( ) -> contain the argument of the function  
'Hello, World!' -> string

In [12]:
'Hello, World!'

'Hello, World!'

In [13]:
Hello, World!

SyntaxError: invalid syntax (<ipython-input-13-60fde9c2310b>, line 1)

## Data types

In [14]:
type('Hello, World!')

str

In [15]:
type(1)

int

In [16]:
type(1/2)

float

In [17]:
type(1.0)

float

In [18]:
type('1')

str

In [19]:
'1'+2

TypeError: must be str, not int

In [20]:
'1'+'2'

'12'

In [21]:
1+2

3

In [22]:
"Double quoted strings like this can contain 'single quoted strings'"

"Double quoted strings like this can contain 'single quoted strings'"

In [23]:
'The opposite is "also true"'

'The opposite is "also true"'

In [24]:
string = '''Triple quoted strings
can span
multiple lines'''

In [25]:
print(string)

Triple quoted strings
can span
multiple lines

In [26]:
type(string) == type('single quoted string')

True

In [27]:
type(True)

bool

Don't use commas to separate groups of digits!

In [28]:
1000

1000

In [29]:
1,000

(1, 0)

## Variables and assignment

In [30]:
message = "This is a string"

In [31]:
n = 143

In [32]:
fact = True

In [33]:
print(message)

This is a string

In [34]:
print(n)

143

In [35]:
print(fact)

True

= -> assignment  
== -> comparison

In [36]:
1+2==3

True

In [37]:
1+2=3

SyntaxError: can't assign to operator (<ipython-input-37-6dcc605b76fc>, line 1)

In [234]:
1.0==1

True

Reassign a variable value

In [38]:
n

143

In [39]:
n=12

In [40]:
n

12

In [41]:
n=n+1

In [42]:
n

13

In [43]:
n = "This is not a number anymore"

In [44]:
n

'This is not a number anymore'

In [45]:
type(n)

str

In [46]:
t = type(n)

In [47]:
t

str

In [48]:
type(t)

type

In [49]:
s = type(t)

In [50]:
type(s)

type

Forbidden variable names

In [51]:
1number = 123

SyntaxError: invalid syntax (<ipython-input-51-625b4cf95444>, line 1)

In [52]:
test$ = "a string"

SyntaxError: invalid syntax (<ipython-input-52-b7a93272885c>, line 1)

In [53]:
True = 12

SyntaxError: can't assign to keyword (<ipython-input-53-abb8adb6eb95>, line 1)

In [54]:
and = "test"

SyntaxError: invalid syntax (<ipython-input-54-1b84c85510a9>, line 1)

Python does not care how you name your variables:

In [55]:
pi

NameError: name 'pi' is not defined

In [56]:
import math

In [57]:
math.pi

3.141592653589793

## Converting types

In [58]:
type(math.pi)

float

In [59]:
int(math.pi)

3

In [60]:
type(int(math.pi))

int

In [61]:
type("2734")

str

In [62]:
int("2734")

2734

In [63]:
type(int("2734"))

int

In [64]:
int("10 students")

ValueError: invalid literal for int() with base 10: '10 students'

In [65]:
float(3)

3.0

In [66]:
float("109.1")

109.1

In [67]:
str(123)

'123'

## Some simple expressions

In [72]:
string = input("Input something:")

Input something:5

In [73]:
string

'5'

In [74]:
print("Your input is:",string)

Your input is: 5

In [79]:
n = 123 #this is a comment, and will be ignored by python

In [80]:
n

123

## Another data type: lists

In [106]:
integer_list = [1, 2, 3, 4, 5]

In [107]:
integer_list

[1, 2, 3, 4, 5]

In [108]:
string_list = ['a','b','c','d','e']

In [109]:
string_list

['a', 'b', 'c', 'd', 'e']

In [110]:
mixed_list = [1,'a',math.pi,[0,1]]

In [111]:
mixed_list

[1, 'a', 3.141592653589793, [0, 1]]

In [112]:
empty_list = []

In [113]:
empty_list

[]

In [114]:
string_list[0]

'a'

In [115]:
string_list[1]

'b'

In [116]:
integer_list[1]

2

In [117]:
integer_list[5-4]

2

In [118]:
integer_list[1.0]

TypeError: list indices must be integers or slices, not float

In [94]:
list1[int(math.pi)]

4

In [119]:
integer_list[5]

IndexError: list index out of range

In [120]:
len(integer_list)

5

In [121]:
len(empty_list)

0

In [122]:
empty_list[0]

IndexError: list index out of range

In [123]:
len(mixed_list)

4

In [149]:
mixed_list[len(mixed_list)]

IndexError: list index out of range

In [150]:
mixed_list[len(mixed_list)-1]

[0, 1]

In [124]:
'c' in string_list

True

In [125]:
0 in mixed_list

False

In [126]:
[0,1] in mixed_list

True

In [127]:
integer_list + string_list

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e']

In [130]:
string_list * 3

['a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e']

Splice a list:  
list[start:stop] -> [list[start], list[start+1], ..., list[stop-1]  
no start -> start=0
no stop -> stop = len(list)

In [148]:
string_list[2:4]

['c', 'd']

In [152]:
string_list[:4]

['a', 'b', 'c', 'd']

In [153]:
string_list[2:]

['c', 'd', 'e']

In [154]:
string_list[:]

['a', 'b', 'c', 'd', 'e']

In [155]:
string_list == string_list[:]

True

In [156]:
string_list[2] = 'x'

In [157]:
string_list

['a', 'b', 'x', 'd', 'e']

Strings can be accessed like lists, but do not support assignment

In [158]:
text = "test"

In [159]:
text[0]

't'

In [160]:
text[0] = "T"

TypeError: 'str' object does not support item assignment

In [161]:
del string_list[2]

In [162]:
string_list

['a', 'b', 'd', 'e']

In [163]:
del string_list[4]

IndexError: list assignment index out of range

In [164]:
del string_list[1:3]

In [165]:
string_list

['a', 'e']

In [263]:
string_list.append('z')

In [264]:
string_list

['a', 'e', 'z']

## Objects and references

In [166]:
a = "a string"

In [167]:
b = "a string"

In [168]:
a==b

True

In [169]:
a is b

False

In [186]:
b=a

In [176]:
a==b

True

In [187]:
a is b

True

In [188]:
b is a

True

In [198]:
list = [1,2,3]

In [193]:
m=l

In [202]:
print(m)
print(l)
print(m==l)
print(m is l)

[0, 2, 3]
[0, 2, 3]
True
True

In [203]:
l[0]=0

In [205]:
print(l)
print(m)

[0, 2, 3]
[0, 2, 3]

In [206]:
n=l[:]

In [209]:
print(n==l)
print(n is l)

True
False

In [210]:
l[0]=1
print(l)
print(m)
print(n)

[1, 2, 3]
[1, 2, 3]
[0, 2, 3]

In [211]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]

In [212]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [216]:
matrix[1][2]

6

## Flow control: the if statement

if (boolean expression):  
&nbsp;&nbsp;&nbsp;&nbsp;(execute this if (boolean expression == True))  
else:  
&nbsp;&nbsp;&nbsp;&nbsp;(execute this if (boolean expression == False))

The : and the indentation after "if" and "else" are important!

In [226]:
n = int(input("Type an integer:"))

Type an integer:85

In [227]:
if n%2==0:
    print(n,"is even")
else:
    print(n,"is odd")

85 is odd

In [228]:
if n%2==0:
print(n,"is even")
else:
print(n,"is odd")

IndentationError: expected an indented block (<ipython-input-228-81af89cb30e2>, line 2)

You don't need an "else" statemenet

In [229]:
if n%2==0:
    print(n,"is even")

You can use "pass" as a placeholder that does nothing

In [230]:
if n%2==0:
    pass
else:
    print(n,"is odd")

85 is odd

You can have more chained "if" statements

In [231]:
if n%3==0:
    print(n,"is divisible by 3")
elif n%3==1:
    print(n,"has reminder 1 when divided by 3")
else:
    print(n,"has reminder 2 when divided by 3")

85 has reminder 1 when divided by 3

You can have nested "if" statements (remember to increase the indentation accordingly)

In [232]:
if n==0:
    print(n,"is 0")
else:
    if n>0:
        print(n,"is positive")
    else:
        print(n,"is negative")

85 is positive

The boolean expression used in the "if" can be any expression that returns a boolean (True or False)

In [233]:
if n<0 or n>0:
    print(n,"is not 0")
else:
    print(n,"is 0")

85 is not 0

In [237]:
r=float(input("Insert any number:"))
if int(r)==r:
    print(r,"is an integer")
else:
    print(r,"is not an integer")

Insert any number:25.0
25.0 is an integer

## Iteration: loops (for, while)

for (variable) in (list):  
&nbsp;&nbsp;&nbsp;&nbsp;(evaluate these expressions)

In [240]:
for n in list2:
    print(n)

a
b
c
d
e

In [241]:
for n in list1:
    print(n**2)

1
4
9
16
25

In [249]:
n=3
print(n)
for n in list1:
    print(n)
print(n)

3
1
2
3
4
5
5

In [244]:
range(5,10)

range(5, 10)

In [243]:
for n in range(5,10):
    print(n)

5
6
7
8
9

In [245]:
for n in range(1,11):
    print(n,"->",n**2)

1 -> 1
2 -> 4
3 -> 9
4 -> 16
5 -> 25
6 -> 36
7 -> 49
8 -> 64
9 -> 81
10 -> 100

In [246]:
for n in range(1,11):
    print(n)
    if n%7==0:
        break

1
2
3
4
5
6
7

In [250]:
list1[:]

[1, 2, 3, 4, 5]

In [252]:
for i in range(0,len(list1)):
    print(list1[i])

1
2
3
4
5

In [254]:
for n in range(1,11):
    if n%2==0:
        continue
    print(n)

1
3
5
7
9

while (boolean expression):  
&nbsp;&nbsp;&nbsp;&nbsp;(evaluate these expressions)

In [256]:
n=0
while n<11:
    print(n)
    n+=1

0
1
2
3
4
5
6
7
8
9
10

Python does not have repeat loops

repeat:  
&nbsp;&nbsp;&nbsp;&nbsp;(evaluate these expressions)  
until (boolean expression)

In [260]:
n=0
repeat
    print(n)
    n+=1
until n==11

IndentationError: unexpected indent (<ipython-input-260-0baa882970cb>, line 3)

In [261]:
n=0
while True:
    print(n)
    n+=1
    if n==11:
        break

0
1
2
3
4
5
6
7
8
9
10

## Functions

def [function name] ([parameters]):  
&nbsp;&nbsp;&nbsp;&nbsp;[list of statememts the function has to execute]

In [266]:
def square(x):
    print(x**2)

In [267]:
square(3)

9

In [268]:
n=square(3)

9

In [273]:
print(n)
print(type(n))

None
<class 'NoneType'>

In [2]:
def square(x):
    return x**2

In [277]:
n=square(3)
print(n)

9

In [3]:
square(square(3))

81

In [278]:
for i in range(1,11):
    print(i,"->",square(i))

1 -> 1
2 -> 4
3 -> 9
4 -> 16
5 -> 25
6 -> 36
7 -> 49
8 -> 64
9 -> 81
10 -> 100